<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style.css" />
    <link rel="icon" href="../assets/favicon1.ico" type="image/gif" sizes="32x32">
<!-- bootstrap link -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <title>DreamTrip</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light menu">
      <div class="container-fluid navhome">
        <a href="/home" >  <img
            src="../assets/DreamTrip_logo.png"
            class="navbar-brand brand-img"
            alt=""
          /></a>

        <!-- <a class="navbar-brand" href="#">Navbar</a>   -->
        <button
          class="navbar-toggler navhome3"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navhome2" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0 me-4">
            <li class="nav-item me-4">
              <a
                class="nav-link active"
                aria-current="page"
                href="/home"
                >Home</a
              >
            </li>
            <li class="nav-item me-4">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-itemme-4">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
