 <%- include("partials/uploadHeader") %>


    <section class="about_us">

    <div>
        <h1 class="asc"><b>Our Members</b></h1>
    </div>

    <section class="team2 cid-syMDEWuqpo " xmlns="http://www.w3.org/1999/html" id="team2-n">


        <div class="container mx-auto">
            <div class="card about-sm mb-3">
                <div class="card-wrapper ">
                    <div class="row align-items-center about_us ">
                        <div class="col-12 col-md-4">
                            <div class="image-wrapper pp-box">
                                <img  class="pp-box" src="/assets/profilepic.jpg" alt="Gris Profile Picture" >
                            </div>
                        </div>
                        <div class="col-12 col-md">
                            <div class="card-box">
                                <h5 class="card-title m-0 display-size-name m-0 pt-2">
                                    <strong><b>Gris García</b></strong>
                                </h5>
                                <h6 class="mbr-fonts-style display-4 m-0 p-0">
                                    <strong class="vff">Front-end Developer</strong>
                                </h6>
                                <p class="mbr-text mbr-fonts-style display-7">
                                    Computer Science Degree, working in IT <br>
                                    Self taught about everything I found interesting.

                                </p>
                                <div class="social-handles">
                                    <a href="https://twitter.com/dametualma666_">  <img src="../social_handles/twitter.svg" class="svg-image" alt="" /></a>
                                    <a href="https://github.com/GrisGGG">  <img src="../assets/github.png" class="svg-image" alt="" /></a>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card about-sm mb-3">
                <div class="card-wrapper">
                    <div class="row align-items-center about_us">
                        <div class="col-12 col-md-4">
                            <div class="image-wrapper">
                                <img  class="pp-box"  src="../assets/person-male.png" alt="image">
                            </div>
                        </div>
                        <div class="col-12 col-md">
                            <div class="card-box">
                                <h5 class="card-title mbr-fonts-style m-0 display-size-name pt-2">
                                    <strong><b>Your Name</b></strong>
                                </h5>
                                <h6 class="mbr-fonts-style mb-3 display-4">
                                    <strong class="vff">Your Role</strong>
                                </h6>
                                <p class="mbr-text mbr-fonts-style display-7">
                                  Computer Science Degree, studying <br>
                                  Self taught Web Developer.   </p>                              <div class="social-handles">
                                    <a href="#"><img src="../social_handles/twitter.svg" class="svg-image" alt="" /></a>
                                    <a href="#"><img src="../assets/github.png" class="svg-image" alt="" /></a>
                                     <a href="#"><img src="../social_handles/youtube.svg" class="svg-image" alt="" />  </a>
                                     <a href="#">
                                        <img
                                        src="../social_handles/facebook.svg"
                                        class="svg-image"
                                        alt=""
                                      />
                                     </a>
                                      </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card about-sm mb-3" >
                <div class="card-wrapper">
                    <div class="row align-items-center about_us ">
                        <div class="col-12 col-md-4">
                            <div class="image-wrapper">
                                <img  class="pp-box"  src="../assets/person-male.png" alt="Image">
                            </div>
                        </div>
                        <div class="col-12 col-md">
                            <div class="card-box">
                                <h5 class="card-title mbr-fonts-style m-0 display-size-name pt-2">
                                    <strong><b>Your Name</b></strong>
                                </h5>
                                <h6 class="mbr-fonts-style mb-3 display-4">
                                    <strong class="vff">Your role</strong>
                                </h6>
                                <p class="mbr-text mbr-fonts-style display-7">
                                  Computer Science Degree, studying <br>
                                  Self taught Web Developer.          </p>                            <div class="social-handles">
                                    <a href="#">  <img src="../social_handles/twitter.svg" class="svg-image" alt="" /></a>
                                    <a href="#">  <img src="../assets/github.png" class="svg-image" alt="" /></a>
                                     <a href="#"><img src="../social_handles/youtube.svg" class="svg-image" alt="" />  </a>
                                     <a href="#">
                                        <img
                                        src="../social_handles/facebook.svg"
                                        class="svg-image"
                                        alt=""
                                      />
                                     </a>
                                      </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card about-sm mb-3">
                <div class="card-wrapper">
                    <div class="row align-items-center about_us">
                        <div class="col-12 col-md-4">
                            <div class="image-wrapper">
                                <img  class="pp-box" src="../assets/person-male.png" alt="image">
                            </div>
                        </div>
                        <div class="col-12 col-md">
                            <div class="card-box">
                                <h5 class="card-title mbr-fonts-style m-0 display-size-name pt-2">
                                    <strong><b>Your Name</b></strong>
                                </h5>
                                <h6 class="mbr-fonts-style mb-3 display-4">
                                    <strong class="vff">Your role</strong>
                                </h6>
                                <p class="mbr-text mbr-fonts-style display-7">
                                  Computer Science Degree, studying <br>
                                  Self taught Web Developer.                                     </p>
                                <div class="social-handles">
                                    <a href="#">  <img src="../social_handles/twitter.svg" class="svg-image" alt="" /></a>
                                    <a href="#">  <img src="../assets/github.png" class="svg-image" alt="" /></a>
                                     <a href="#"><img src="../social_handles/youtube.svg" class="svg-image" alt="" />  </a>
                                     <a href="#">
                                        <img
                                        src="../social_handles/facebook.svg"
                                        class="svg-image"
                                        alt=""
                                      />
                                     </a>
                                  </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>


</section>
<%- include("partials/uploadFooter") %>
