<%- include("partials/uploadHeader") %>

<div class="thanks-text">
  <h2 class="text-center">  Thanks for Your interest we will contact you within 2 days</h2>

</div>
    <%- include("partials/uploadFooter") %>
