@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,100;1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

html {
  font-family: "Montserrat", sans-serif;
}
.navhome{
  position: relative;
  bottom: 20px;
}
.navhome2{
  position: relative;
  bottom: 20px;
}
.navhome3{
  position: relative;
  bottom: 20px;
}
#content {
  height: 150vh;
  position: relative;
  background-color: #e6efe9;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
}

.brand-img {
  width: 170px;
  height: 130px;
}
.gallery img {
  height: 100vh;
  width: 100vw;
}
.w-text {
  font-weight: 400;
  font-family: "Oswald", sans-serif;
}

.qst-box {
height: 100vh;
  font-size: 1.2rem;
  text-align: center;
}
.qst-text {
  padding-bottom: 20px;
}
.menu {
  background-color: #e6efe9;
  font-size: 1.3rem;
}

.boton-box {
  display: inline-flex;
}
.boton-box p {
  padding-right: 20px;
  padding-left: 20px;
}

.footer {
  width: 100vw;
}
.botoncito {
  padding-top: 28px;
}
.section-padding {
  padding: 4.25rem 2rem;
}

.footer {
  position: absolute;
  border-top: 0.5px solid #bfbfbf;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #e6efe9;
  color: black;
  border-radius: 20px;
  /* display: inline; */
  text-align: center;
}

.footer-start {
  font-size: 0.9rem;
}

/* Newsletter */

.newsletter {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 0.5rem;
}

.newsletter-text {
  /* display: inline; */
  /* justify-content: center;
    align-content: center; */
  padding: 0.25rem;
  padding-right: 1rem;
}

.subscribe-form {
  display: flex;
  margin-bottom: 0;
}

.newsletter-email {
  /* display: inline; */
  width: 220px;
  padding-right: 0;
  height: 36px;
}

.btn-subscribe {
  border-radius: 6px;
  width: 100px;
  height: 36px;
  margin-top: 0;
  border: 0px;
}

.svg-image {
  height: 3rem;
}

.svg-image:hover {
  filter: brightness(90%);
}

/*contact us styles */
.contact_page{
  background-color: #e6efe9;
 /* background-color: #bfbfbf;*/
  padding-top: 100px;

}
.form{
  text-align: center;
  padding-bottom: 50px;
}
.cdf{

    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 23px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }

  .cdf:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
  .ed{
    margin-bottom: 30px;
  }
  .rf{
   padding-left: 47%;
  }

  /*about us style*/
  .about_us{
    background-color: #e6efe9;
    /*
    background-color: rgb(206, 235, 225);*/

  }
  .asc{
    padding-top: 0px;
    text-align: center;
    padding-bottom: 20px;
    font-size: 35px;
    text-decoration: underline;
    position: relative;
    bottom: 40px;
  }

  .contact_page{
    background-color: #e6efe9;
  /*  background-color: #bfbfbf;*/
    padding-top: 100px;

  }
  .form{
    text-align: center;
    padding-bottom: 50px;
  }
  .cdf{

      background: #3498db;
      background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
      background-image: -moz-linear-gradient(top, #3498db, #2980b9);
      background-image: -ms-linear-gradient(top, #3498db, #2980b9);
      background-image: -o-linear-gradient(top, #3498db, #2980b9);
      background-image: linear-gradient(to bottom, #3498db, #2980b9);
      -webkit-border-radius: 28;
      -moz-border-radius: 28;
      border-radius: 28px;
      font-family: Arial;
      color: #ffffff;
      font-size: 23px;
      padding: 10px 20px 10px 20px;
      text-decoration: none;
    }

    .cdf:hover {
      background: #3cb0fd;
      background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
      background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
      background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
      background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
      background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
      text-decoration: none;
    }
    .ed{
      margin-bottom: 30px;
    }
    .rf{
     padding-left: 47%;
    }
    .vff{
      font-size: 30px;
    }

    .pp-box{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    }
    .title-box{
      font-family: 'Satisfy', cursive;
    }
    .display-size-name{
      font-size: 30px;
    }

.about-sm{
  position: relative;
  left: 85px;
}
@media only screen and (max-width: 767px) {
  .about-sm{
    position: relative;
    left: 130px;
  }

}
.thanks-text{
  position: relative;
top: 80px;
}
